* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #a8ffa0;
    margin: 0;
    padding: 40px 0 0 0; /* Remove o padding inferior */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.faq-container {
    max-width: 600px;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.faq-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.faq-item {
    border-bottom: 1px solid #e2e8f0;
    margin-bottom: 10px;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-item ul{
    list-style: none;
}

summary {
    padding: 15px 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #009940;
    cursor: pointer;
    transition: color 0.3s ease;
    list-style: none; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

summary::after {
    content: '▼';
    font-size: 1.5rem;
    color: #a0aec0;
}

details[open] summary::after {
    content: '-';
}

/* A resposta (texto oculto por padrão) */
.faq-item p {
    padding: 10px 10px 20px 10px;
    color: #000000;
    line-height: 1.6;
    font-size: 1rem;
}

.back-arrow{
    position:fixed;
    top:25px;
    left:25px;
    width:55px;
    height:55px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgba(0,0,0,0.75);
    color:#fff;
    text-decoration:none;
    font-size:28px;
    font-weight:bold;
    border-radius:50%;
    transition:0.3s;
    z-index:999;
}

.back-arrow:hover{
    transform:translateX(-4px) scale(1.08);
    background:#fff;
    color: green;
}
